header{
    height: 3rem;
    background-color: #3D1766;
    position: sticky;
    top: 0;
    z-index: 10;
}
.title-header{
    color: #CD0404;
    position:relative;
    line-height: 2.2;
}
main{
    background-color:#6F1AB6 ;
}
.content{
   position: relative;
}
